# Minggu 1 - Pengenalan Phyton

## Syntax Dasar

In [4]:
"hello world"

'hello world'

In [6]:
print('hello world')

hello world

In [12]:
a = 2.2
print("Tipe data", a, "adalah", type(a))

Tipe data 2.2 adalah <class 'float'>

In [14]:
b = "ucup"
print("Tipe data", b, "adalah", type(b))

Tipe data ucup adalah <class 'str'>

In [18]:
c = 3>0
print (c)
print("Tipe data", c, "adalah", type(c))

True
Tipe data True adalah <class 'bool'>

In [20]:
d = 10000
print("Tipe data", d, "adalah", type(d))

Tipe data 10000 adalah <class 'int'>

In [22]:
nama = "Tsaqillah Ali"
usia = 18
print("Nama saya adalah", nama, "dan usia saya adalah", usia)

Nama saya adalah Tsaqillah Ali dan usia saya adalah 18

In [24]:
nama = "chila"
usia = 18
tinggi = 1.60
benar = True
print(type(nama))
print(type(usia))
print(type(tinggi))
print(type(benar))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

# Minggu 2 - Tipe data & Operator Phyton

## How to print

Fungsi print() digunakan untuk mencetak output program di layar.

In [30]:
print("hello, world!")

hello, world!

In [32]:
print(f"hello, world!")

hello, world!

## Komentar

komentar merupakan sekumpulan teks yang dituliskan dalam sebuah program dan tidak akan mempengaruhi hasil dari program tersebut. Walaupun tidak mempengaruhi hasil program, komentar merupakan salah satu bagian penting dalam pengkodean, hal ini dikarenakan komentar digunakan sebagai penjelasan alur dari kode program yang kita tulis serta dapat diselipkan di antara sekumpulan statement yang telah dituliskan. komentar ini tentunya juga dapat memudahkan programmer untuk berkomunikasi dengan programmer lainnya. Komentar merupakan

In [38]:
# ini namanya komentar

"""
ini juga komentar
tapi bisa banyak baris
kaya gini
"""

print("komentar tidak akan mengeluarkan output apapun")

komentar tidak akan mengeluarkan output apapun

## Variabel

In [43]:
# Variabel
nama = "chila"
umur = 18
status_pernikahan = "belum menikah"
statuspernikahan = "blm menikah"

## Multistatement variabel

##### Multistatement Variabel dalam phyton biasanya digunakan ketika ingin menyimpan atau menulis string atau kode dalam beberapa baris untuk meningkatkan keterbacaan atau menghindari batasan panjang baris.

In [70]:
nama = "chila"
a = 10; b= 8
kesibukan, keterangan = 'berkuliah','telkom university surabaya'

In [72]:
print(f"Nama saya {nama} dan Umur saya adalah {a+b} Tahun dan sedang {kesibukan} di {keterangan}")

Nama saya chila dan Umur saya adalah 18 Tahun dan sedang berkuliah di telkom university surabaya

## Input dari pengguna

##### Di Python, dapat meminta input dari pengguna menggunakan fungsi bawaan input(). Fungsi ini membaca input dari pengguna sebagai string secara default.

In [78]:
nama = input("Masukkan nama Anda: ") 
makan = 'sudah'
harga = int(input("Berapa harganya?: "))
print('\n')
print("Halo, aku", nama, 'dan aku', makan, 'makan ayam goreng yang harganya Rp', harga)

Masukkan nama Anda:  chila
Berapa harganya?:  15000

Halo, aku chila dan aku sudah makan ayam goreng yang harganya Rp 15000

## Operator Aritmatika

In [87]:
# Penjumlahan (+): Menjumlahkan nilai dari masing-masing operan atau bilangan
# Pengurangan (-): Mengurangi nilai operan di sebelah kiri menggunakan operan di sebelah kanan
# Perkalian (*): Mengalikan operan/bilangan
# Pembagian (/): Untuk membagi operan di sebelah kiri menggunakan operan di sebelah kanan
# Sisa Bagi (%): Mendapatkan sisa pembagian dari operan di sebelah kiri operator ketika dibagi oleh operan di sebelah kanan Pangkat (**): Memangkatkan operan disebelah kiri operator dengan operan di sebelah kanan operator
# Pembagian Bulat (//): Sama seperti pembagian. Hanya saja angka dibelakang koma dihilangkan

In [93]:
#Operator Aritmatika

#Penjumlahan
print(13+2)
apel = 7
jeruk = 9
buah = apel + jeruk 
print(buah)

#Pengurangan
hutang = 10000
bayar = 5000
sisaHutang = hutang - bayar
print("Sisa hutang Anda adalah ", sisaHutang)

#Perkalian
panjang = 36
lebar = 6
luas = panjang * lebar 
print(luas)

#Pembagian
kue = 20
anak = 5
kuePerAnak = kue / anak
print("Setiap anak akan mendapatkan bagian kue sebanyak ", kuePerAnak)

#Sisa Bagi / Modulus
bilangan1 = 14
bilangan2 = 5
hasil = bilangan1 % bilangan2
print("Sisa bagi dari bilangan ", bilangan1, " dan ", bilangan2, " adalah ", hasil)

#Pangkat
bilangan3 = 8
bilangan4 = 2
hasilPangkat = bilangan3 ** bilangan4 
print(hasilPangkat)

#Pembagian Bulat
print(10//3)
#10 dibagi 3 adalah 3.3333. Karena dibulatkan maka akan menghasilkan nilai 3

15
16
Sisa hutang Anda adalah  5000
216
Setiap anak akan mendapatkan bagian kue sebanyak  4.0
Sisa bagi dari bilangan  14  dan  5  adalah  4
64
3

# Minggu 3 - Tipe Data dan Analisis Masalah

## Tipe Data Boolean

##### Tipe data boolean adalah tipe data yang digunakan untuk mempresentasikan nilai kebenaran. Data ini akan erat kaitannya dengan logika matematika, dimana datanya hanya akan terdiri dari dua jenis, yaitu TRUE dan FALSE. Misalkan kita ingin menguji apakah data yang pertama lebih besar dari data yang kedua, jika benar maka Python akan menampilkan output TRUE, sementara jika salah maka akan menampilkan output FALSE.

In [98]:
a = True 
b = False
print(a and b) 
print(a or b) 
print(not a)

False
True
False

In [100]:
x = True
y = False
print(10 > 5) 
print(10 < 5)

True
False

## Operasi perbandingan

In [103]:
# Operator perbandingan (comparison operators) digunakan untuk membandingkan suatu nilai dari masing-masing operan. 
# Sama dengan (==) : bernilai True Jika masing-masing operan memiliki nilai yang sama, maka kondisi bernilai benar atau True. Tidak sama dengan (<>) : bernilai False Akan menghasilkan nilai kebalikan dari kondisi sebenarnya.
# Lebih besar dari (>) : bernilai True Jika nilai operan kiri lebih besar dari nilai operan kanan, maka kondisi menjadi benar.
# Lebih kecil dari (<) : bernilai True Jika nilai operan kiri lebih kecil dari nilai operan kanan, maka kondisi menjadi benar.
# Lebih besar atau sama dengan (>=) : bernilai True Jika nilai operan kiri lebih besar dari nilai operan kanan, atau sama, maka kondisi menjadi benar.
# Lebih kecil atau sama dengan (<=) : bernilai True Jika nilai operan kiri lebih kecil dari nilai operan kanan, atau sama, maka kondisi menjadi benar.

In [105]:
#Operasi Perbandingan

# SAMA DENGAN
print(1 == 1) # Hasilnya akan bernilai True karena satu sama dengan satu 
print(1 == 2) # Hasilnya akan bernilai False karena satu tidak sama dengan dua

# TIDAK SAMA DENGAN
print(2 != 2) # Hasilnya akan bernilai False karena dua seharusnya sama dengan dua 
print(2 != 3) # Hasilnya akan bernilai True karena dua tidak sama dengan tiga

# LEBIH BESAR DARI
print(5 > 3) # Hasilnya akan bernilai True karena lima lebih besar dari tiga

# LEBIH KECIL DARI
print(5 < 3) # Hasilnya akan bernilai False karena lima tidak lebih besar dari tiga

# LEBIH BESAR DARI SAMA DENGAN
print(5 >= 3) # Hasilnya akan bernilai True karena lima lebih besar dari sama dengan tiga

# LEBIH KECIL DARI SAMA DENGAN
print(5 <= 3) # Hasilnya akan bernilai False karena lima tidak lebih besar dari sama dengan tiga

True
False
False
True
True
False
True
False

## Tipe data string

##### Tipe data ini merupakan tipe data yang berkaitan erat dengan data yang bentuknya teks. Dalam proses analisis data, data yang kita butuhkan terkadang tidak hanya data numerik, namun juga data string. Dengan memahami tipe data ini, kita akan bisa memprosesnya dengan lebih mudah.

In [109]:
nama = "chila" 
print(nama)

chila

In [111]:
sapa = "halo"
nama = "mella" 
kalimat = sapa + " " + nama 
print(kalimat)

halo mella

# Minggu 4 - Perulangan(dengan For-Loop)

## perulangan (Looping)

##### Secara umum, looping atau perulangan pada Python adalah instruksi kode program yang dieksekusi berulang kali. Fungsinya untuk memerintah komputer melakukan sesuatu secara berulang-ulang dengan jumlah tertentu selama sebuah kondisi yang telah ditentukan masih terpenuhi. Python memiliki dua jenis perulangan utama: for loop dan while loop.

### 1. For Loop

##### Digunakan untuk mengulangi elemen dalam urutan (seperti list, tuple, string, atau range).

In [123]:
#Loop Melalui List
buah = ["apel", "mangga", "anggur"] 
for buah in buah:
    print(buah)
print()

#Loop Melalui String
text = "Python" 
for char in text:
    print(char)
print()

#Loop dengan Range
# Angka dari 0 hingga 4 
for i in range(5):
    print(i)

# Angka dari 2 hingga 5
for i in range(2, 6): 
    print(i)

apel
mangga
anggur

P
y
t
h
o
n

0
1
2
3
4
2
3
4
5

### 2. While Loop

##### Digunakan untuk mengulang blok kode selama kondisi bernilai True.

In [129]:
#Bentuk umum:
jawab = 'ya' 
hitung = 0

while(jawab == 'ya'): 
    hitung += 1
    jawab = input("Ulang lagi tidak? ") 
print(f"Total perulangan: {hitung}") 
print()

#While dengan Kondisi
number = 10
while number > 0:
    print(number)
    number -= 2 
print()

#While dengan Break dan Continue
count = 0
while count < 5:
    if count == 3: 
        break
    print(count) 
    count += 1
    
count = 0
while count < 5:
    count += 1
    if count == 3:
        continue
    print(count)

Ulang lagi tidak?  ya
Ulang lagi tidak?  ya
Ulang lagi tidak?  ya
Ulang lagi tidak?  ya
Ulang lagi tidak?  tidak

Total perulangan: 5

10
8
6
4
2

0
1
2
1
2
4
5

## Percabangan If Else

### 1. Percabangan 'If' (Single Alternative Selection):

In [135]:
umur = 18
if umur >= 18:
    print("Anda sudah dewasa.")

Anda sudah dewasa.

In [137]:
nilai = 85
if nilai >= 75:
    print("Selamat! Anda lulus.")

Selamat! Anda lulus.

### 2. Percabangan 'If-Else' (Dual Alternative Selection):

In [143]:
nilai = 82
if nilai >= 60:
    print("Anda lulus.") 
else:
    print("Anda belum lulus.")

Anda lulus.

In [145]:
angka = 7
if angka % 2 == 0:
    print(f"{angka} adalah bilangan genap.") 
else:
    print(f"{angka} adalah bilangan ganjil.")

7 adalah bilangan ganjil.

### 3. Percabangan 'If-Elif-Else' (Multiple Alternative Selection):

In [148]:
nomor_hari = 5
if nomor_hari == 1:
    print("Ini adalah hari Senin.") 
elif nomor_hari == 2:
    print("Ini adalah hari Selasa.") 
elif nomor_hari == 3:
    print("Ini adalah hari Rabu.") 
elif nomor_hari == 4:
    print("Ini adalah hari Kamis.") 
elif nomor_hari == 5:
    print("Ini adalah hari Jumat.") 
else:
    print("Ini adalah hari akhir pekan.")

Ini adalah hari Jumat.

In [150]:
suhu = 32
if suhu > 30:
    print("Cuaca sangat panas.") 
elif suhu > 20:
    print("Cuaca hangat.") 
elif suhu > 10:
    print("Cuaca sejuk.") 
else:
    print("Cuaca dingin.")

Cuaca sangat panas.

### 4. Percabangan Bersarang (Nested If)

In [159]:
usia = 17
status_pernikahan = "belum menikah"

if usia >= 18:
    if status_pernikahan == "menikah":
        print("Anda sudah dewasa dan menikah.") 
    else:
        print("Anda sudah dewasa dan belum menikah.") 
else:
    print("Anda masih remaja.")

Anda masih remaja.

In [161]:
nilai = 85 
prestasi = True

if nilai >= 85: 
    if prestasi:
        print("Anda layak mendapatkan beasiswa penuh!") 
    else:
        print("Anda layak mendapatkan beasiswa sebagian.") 
else:
    print("Maaf, Anda tidak layak mendapatkan beasiswa.")

Anda layak mendapatkan beasiswa penuh!